<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <% if (locals.user)  { %>
        <p>Welcome back <%= user.firstName %> <%= user.lastName %></p>
        <button class="create-btn">Create folder</button>
        <dialog>
            <form action="/dashboard/folder" method="post">
                <% if (locals.errors) { %>
                    <%- include("err/err.ejs", {keyword: errMsg}) %>
                <% } %>
                <label for="folderName">Folder Name</label>
                <input type="text" id="folderName" name="folderName">
                <div>
                    <button type="submit">Create</button>
                    <button type="button" class="cls-btn">Close</button>
                </div>
            </form>
        </dialog>
        <% if (locals.folders) { %>
            <% folders.forEach((folder) => { %>
                <%- include("links/link", {connect: `dashboard/folder/${folder.id}`, link: folder.name}) %>
            <% }) %>
        <% } %>
     <% } %>
     <script>
        const openBtn = document.querySelector(".create-btn")
        const dialog = document.querySelector("dialog")
        const closeBtn = document.querySelector(".cls-btn")
        openBtn.addEventListener('click', (e) => {
            dialog.showModal();
        })
        
        closeBtn.addEventListener('click', (e) => {
            e.preventDefault()
            dialog.close()
        })
     </script>
</body>
</html>