<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files Uploader</title>
</head>
<body>
    <div>
        <button><%- include('links/link', {connect: connect, link: link}) %></button>
    </div>
    <h1>Welcome to Files Uploader</h1>
</body>
</html>