<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Files Uploader</title>
</head>
<body>
    <div class="container">
        <p>File Uploader</p>
        <div class="btn-container">
            <div>
                <%- include('links/link', {connect: connect, link: link}) %></button>
            </div>
            <div>
                <%- include('links/link', {connect: '/signup', link:'Sign Up'}) %></button>
            </div>
        </div>
    </div>
    <div class="folder-img">
        <div class="folder-img-inner">
            <svg class="img" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="500" height="500"style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"><defs><style>.fil2{fill:none}.fil0{fill:#f09e1a}</style></defs><g id="Layer_x0020_1"><path class="fil0" d="M256.029 575.999v-1.122l-.026-106.669a72.546 72.546 0 0 1 5.482-28.335 73.67 73.67 0 0 1 16.11-24.085 73.874 73.874 0 0 1 24.056-15.953c9.054-3.717 18.667-5.685 28.31-5.685h338.131c15.226 0 29.736 4.703 41.868 12.962 11.786 8.023 21.252 19.5 26.849 33.36l.019-.007 58.089 135.406.055.127H256.03z"/><path d="m1730.45 701.451-.285 157.115c12.574 3.078 24.048 8.238 33.682 15.7 17.393 13.466 28.01 32.987 28.048 59.363l-.011 628.23h.12c0 25.328-10.44 48.302-27.32 64.976-16.729 16.522-39.768 26.74-65.153 26.74h-94.165a32.51 32.51 0 0 1-4.268.274H381.988c-34.541 0-65.927-13.94-88.704-36.44-22.93-22.652-37.139-53.875-37.139-88.25h.12L256.033 576h538.943l.86 2.007 811.849.674v-.12c34.66 0 65.26 13.43 87.322 35.497 22.192 22.193 35.563 52.952 35.563 87.394h-.12z" style="fill:#fbc02d"/><path class="fil0" d="M1728 858.566H529.98c-7.985 0-14.822 3.152-19.643 8.206-5.435 5.698-8.674 13.855-8.674 22.95v764.127h-61.447V889.722c0-25.1 9.6-48.3 25.717-65.194 16.107-16.882 38.428-27.409 64.047-27.409H1728v61.447z"/><path class="fil2" d="M255.999 256h1536v1536h-1536z"/><path class="fil2" d="M0 0h2048v2048H0z"/></g></svg>
            <p>Upload your file</p>
        </div>
        <div class="folder-img-inner"> 
            <svg class="img" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="500" height="500"style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"><defs><style>.fil2{fill:none}.fil0{fill:#f09e1a}</style></defs><g id="Layer_x0020_1"><path class="fil0" d="M256.029 575.999v-1.122l-.026-106.669a72.546 72.546 0 0 1 5.482-28.335 73.67 73.67 0 0 1 16.11-24.085 73.874 73.874 0 0 1 24.056-15.953c9.054-3.717 18.667-5.685 28.31-5.685h338.131c15.226 0 29.736 4.703 41.868 12.962 11.786 8.023 21.252 19.5 26.849 33.36l.019-.007 58.089 135.406.055.127H256.03z"/><path d="m1730.45 701.451-.285 157.115c12.574 3.078 24.048 8.238 33.682 15.7 17.393 13.466 28.01 32.987 28.048 59.363l-.011 628.23h.12c0 25.328-10.44 48.302-27.32 64.976-16.729 16.522-39.768 26.74-65.153 26.74h-94.165a32.51 32.51 0 0 1-4.268.274H381.988c-34.541 0-65.927-13.94-88.704-36.44-22.93-22.652-37.139-53.875-37.139-88.25h.12L256.033 576h538.943l.86 2.007 811.849.674v-.12c34.66 0 65.26 13.43 87.322 35.497 22.192 22.193 35.563 52.952 35.563 87.394h-.12z" style="fill:#fbc02d"/><path class="fil0" d="M1728 858.566H529.98c-7.985 0-14.822 3.152-19.643 8.206-5.435 5.698-8.674 13.855-8.674 22.95v764.127h-61.447V889.722c0-25.1 9.6-48.3 25.717-65.194 16.107-16.882 38.428-27.409 64.047-27.409H1728v61.447z"/><path class="fil2" d="M255.999 256h1536v1536h-1536z"/><path class="fil2" d="M0 0h2048v2048H0z"/></g></svg>
            <p>Protect your data</p>
        </div>
    </div>
</body>
</html>