<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <% if (errors) { %>
            <p><%= errors %></p>
        <% } %>
    </div>
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" id="uname" name="uname" value="<%= un %>">
        <label for="password">Password</label>
        <input type="password" id="pw" name="pw" value="<%= pww %>">
        <label for="retype">Confirm Password</label>
        <button type="submit">Login</button>
    </form>
</body>
</html>