.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(255, 255, 255);
}

form {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 30px;
    font-weight: bold;
    padding: 50px 50px;
}

form .input-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div input{
    font-size: 1.5rem;
    padding: 10px 10px;
}

.btn-div{
    display: flex;
    justify-content: center;
}

.btn-div button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    background: rgb(28, 172, 244);
    border:none;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.btn-div button:hover{
    background: rgb(56, 185, 250);
}

.err-div{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    color: red;
}