form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background-color: beige;
}

form div{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

form div input{
    font-size: 1.5rem;
    padding: 5px 10px;
}

.list-err{
    list-style-type: none;
    color: red;
    margin: 0px;    
}

form button{
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(44, 134, 244);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

form button:hover{
    background: rgb(90, 154, 244);
}

.header{
    display: flex;
    background-color: rgb(130, 126, 126);
    height: 10vh;
    align-items: center;
}
.action-btn{
    background: transparent;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    margin-left: 20px;
    font-weight: bold;
}